// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  display:block;
}

p{
  fontsize:13px;
  line-height:13px;
  margin:33px;
}

a:viwited{
  color:#666;
}

a:-webkit-any-link{
  cursol:pointer;
  text-decoration:underline;
}